@charset "utf-8";

/* ==========================================================================
  font-face
   ========================================================================== */

@import url('./common/font.css');

/* ==========================================================================
   Base styles & Helper
   ========================================================================== */

@import url('./common/normalize.css');
@import url('./common/datepicker.css');
@import url('./common/swiper.min.css');
@import url('animated.css');

/* base */
h1, h2, h3, h4, h5, h6, fieldset,ul, ol, dl, dt, dd, p, button ,figure{margin:0;padding:0;}
html{}
body{font:normal 14px/1.5 "나눔고딕", NanumGothic,'Nanum Gothic', sans-serif, Arial, Tahoma , Geneva, Verdana;color:#666;background:#fcf7e9;}
legend, caption{width:0;height:0;visibility:hidden;font-size:0;line-height:0;}
a{text-decoration:none;color:#666;}
img{vertical-align:middle;}
fieldset, button{background:none;border:0px;}
ul:after,ol:after{content:'';display:block;clear:both;}
li{list-style:none;}
table{width:100%;border-spacing:0px;border-collapse:collapse;font-size:1em;}
iframe{width:100%;vertical-align:middle;border:0 none;}
hr{margin:20px 0;border:0 none;height:1px;background:#c9c9c9;}

/*** mobile_base ***/
	/*iphone 글자크기 자동조정 방지*/
	/*body{-webkit-text-size-adjust:none;} */ 
	/*안드로이드 주황색 포커스 제거 */
	/*body{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);} */ 
	/*iphone 폼요소 리셋 */
	/*input, select{-webkit-appearance:none;-webkit-border-radius:0}*/ 

	
/* ==========================================================================
   form
   ========================================================================== */
label{display:inline-block}
label input{vertical-align:middle;}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
	{display:inline-block;height:30px;line-height:28px;padding:0px 10px;border:1px solid #aaaaaa;background:#fff;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s;vertical-align:middle;box-sizing:border-box;}
input[type="file"]{padding:3px;line-height:36px;}
select:hover, textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="file"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover{border-color:#777}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{border-color:#777}
select:disabled, textarea:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="date"]:disabled, input[type="month"]:disabled, input[type="time"]:disabled, input[type="week"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="url"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="color"]:disabled{background-color:#f9f9f9;}
select{display:inline-block;height:30px;line-height:28px;padding:0 10px;border:1px solid #777;vertical-align:middle;box-sizing:border-box;}
select::-ms-expand{display: none;}
textarea{width:100%;min-height:100px;padding:10px;resize:none;line-height:1.5;box-sizing:border-box;}
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholde,
:-ms-input-placeholder,
.placeholder{color:#999;opacity:1;}

.checkbox, .radio{position:relative;display:inline-block;cursor:pointer;vertical-align:middle;}
.checkbox input, .radio input{opacity:0;position:absolute;left:0;top:0;width:30px;height:30px;z-index:1;}
.checkbox input:checked, .radio input:checked, .checkbox input:focus, .radio input:focus{outline:none! important}
.checkbox input+.lbl, .radio input+.lbl{position:relative;display:inline-block;margin:0;line-height:18px;min-height:18px;padding:6px 0 6px 35px;font-weight:normal;vertical-align:top;word-break:break-all;}
.checkbox.only input+.lbl, .radio.only input+.lbl{padding-left:30px;text-indent:-999em;font-size:0;}
.checkbox input+.lbl:before, .radio input+.lbl:before{content:'';border:1px solid #ddd;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);background:#fff;display:inline-block;height:30px;width:30px;position:absolute;left:0;top:0;box-sizing:border-box;}
.radio input+.lbl:before{border-radius:100%;}
.checkbox input+.lbl:after, .radio input+.lbl:after{content:'';display:inline-block;position:absolute;background-color:#ddd}
.checkbox input+.lbl:after{width:14px;height:8px;top:7px;left:7px;border:3px solid #ddd;border-top:none;border-right:none;background:transparent;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.radio input+.lbl:after{width:14px;height:14px;top:8px;left:8px;border-radius:100%;background:#ddd;}
.checkbox input:checked+.lbl, .radio input:checked+.lbl{color:#222;}
.checkbox input:checked+.lbl:before, .radio input:checked+.lbl:before{border-color:#777;}
.radio input:checked+.lbl:after{background:#c80000;}
.checkbox input:checked+.lbl:after{border-color:#c80000;}
.checkbox input:disabled+.lbl:before, .radio input:disabled+.lbl:before, 
.checkbox input[disabled]+.lbl:before, .radio input[disabled]+.lbl:before, 
.checkbox input.disabled+.lbl:before, .radio input.disabled+.lbl:before,
.checkbox input:disabled+.lbl:after, .radio input:disabled+.lbl:after, 
.checkbox input[disabled]+.lbl:after, .radio input[disabled]+.lbl:after, 
.checkbox input.disabled+.lbl:after, .radio input.disabled+.lbl:after{opacity:0.5;}
.checkbox.hover > input + .lbl:before, .radio.hover > input + .lbl:before{border-color:#777}
.lbl_area > label{margin:0.3em 2em 0.3em 0;}

/*파일첨부*/
.input_file{position:relative;padding-right:110px;}
.input_file > input{width:100%;vertical-align:middle;}
.input_file .btn_file{display:inline-block;position:absolute;right:0;top:0;overflow:hidden;vertical-align:middle;}
.input_file .btn_file .button{}
.input_file .btn_file input{position:absolute;left:0;top:0;width:100%;height:100%;padding:0;margin:0;z-index:2;font-size:10em;line-height:2;cursor:pointer;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;}
span.input_file{display:inline-block;padding-right:0;}
span.input_file > input{width:400px;}
span.input_file .btn_file{position:relative;}

/*spinner*/
.ui-spinner{position:relative;display:inline-block;padding-right:20px;height:39px;border:1px solid #919191;background:#919191;}
.ui-spinner .spinner{width:40px;height:39px;padding:8px 6px;text-align:center;border:0 none;color:#000;}
.ui-spinner-button{position:absolute;right:0px;}
.ui-spinner-button .icon{display:block;width:19px;height:19px;text-indent:-999em;}
.ui-spinner-up{top:0px;background:#fff url(../images/common/btn_plus.png) no-repeat center;}
.ui-spinner-down{top:20px;background:#fff url(../images/common/btn_minus.png) no-repeat center;}
.ui-state-hover{background-color:#eee;}
/* .ui-state-active{top:1px;} */
.inp_spinner{position:relative;display:inline-block;;padding:0 45px;}
.inp_spinner input{display:inline-block;width:60px;text-align:center;line-height:40px;height:40px;font-size:1.5em;color:#c70202;border:0;padding:0;font-weight:bold;}
.inp_spinner .btn{position:absolute;top:0;width:36px;height:36px;border:2px solid #c8c8c8;}
.inp_spinner .btn.minus{left:0;background:url(../images/common/spinner_minus.gif) no-repeat center center;}
.inp_spinner .btn.plus{right:0;background:url(../images/common/spinner_plus.gif) no-repeat center center;}


/* datepicker */
.datepicker{width:140px;}
.ui-datepicker-trigger{display:inline-block;width:32px;height:32px;margin-left:5px;background:url(../images/common/btn_datepicker.gif) no-repeat center center;text-indent:-999em;vertical-align:middle;}

/* switch */
.switch{display:inline-block;vertical-align:middle;}
.switch input{position:absolute;left:-9999px;opacity:0;}
.switch span{position:relative;width:65px;height:26px;background:#e8e8e8;display:inline-block;;border-radius:13px;cursor:pointer;transition:150ms linear;font-size:12px;}
.switch span:before{content:"off";position:absolute;right:10px;top:5px;color:#999999;text-transform:uppercase;line-height:14px;}
.switch span:after{transition:150ms linear;height:22px;width:22px;display:block;border-radius:999px;content:"";background:#fff;position:absolute;top:2px;left:2px;}
.switch input:checked+span{background:#c80000;}
.switch input:checked+span:before{content:"on";left:12px;color:#fff;}
.switch input:checked+span:after{left:41px;}

/* width */
.inp_wid:after{content:'';display:block;clear:both;}
.inp_wid + .inp_wid{margin-top:5px;}
.inp_wid>input, .inp_wid>select, .inp_wid>label{float:left;width:100%;}
.inp_wid.wid2>input, .inp_wid.wid2>select, .inp_wid.wid2>label{width:49%;margin-left:2%;}
.inp_wid.wid2>input:first-child, .inp_wid.wid2>select:first-child, .inp_wid.wid2>label:first-child{margin-left:0;}
.inp_wid.wid3>input, .inp_wid.wid3>select, .inp_wid.wid3>label{width:32%;margin-left:2%;}
.inp_wid.wid3>input:first-child, .inp_wid.wid3>select:first-child, .inp_wid.wid3>label:first-child{margin-left:0;}
.inp_wid.wid4>input, .inp_wid.wid4>select, .inp_wid.wid4>label{width:23.5%;margin-left:2%;}
.inp_wid.wid4>input:first-child, .inp_wid.wid4>select:first-child, .inp_wid.wid4>label:first-child{margin-left:0;}

/* ==========================================================================
   common
   ========================================================================== */
.fz_dw{font-size:0.875em;}
.fz_up{font-size:1.125em;}

.t_white{color:#fff}
.t_blk{color:#222}
.t_red{color:#c80000}
.t_org{color:#ea7724}
.t_grn{color:#69bd25}
.t_blue{color:#0055b7;}
.t_gray{color:#999}

.t_center{text-align:center;}
.t_left{text-align:left;}
.t_right{text-align:right;}

.f_left{float:left;}
.f_right{float:right;}
.clear{clear:both;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb50{margin-bottom:50px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}

.w60{width:60px}
.w80{width:80px}
.w100{width:100px}
.w120{width:120px}
.w140{width:140px}
.w160{width:160px}
.w180{width:180px}
.w200{width:200px}
.w_50{width:50%}
.w_80{width:80%}
.w_100{width:100%}

.w_none{display:none;}
.block{display:block;}
.inblock{display:inline-block;}
.hide{display:none;}
.hidden{overflow:hidden;}
.blind{position:absolute;overflow:hidden;visibility:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.op80{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.bgLayer{display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:#333;opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;z-index:60;}

.blur img{-webkit-filter:blur(6px);-moz-filter:blur(6px);filter:blur(6px);}
.grayscale img{
	filter:url(filters.svg#gray);/* Gecko and FF*/
	filter:gray;/* IE */
	-moz-filter:grayscale(1);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-webkit-filter:grayscale(1);}
a.grayscale:hover img, a.grayscale:focus img, a.grayscale:active img{
	filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
	-webkit-filter:none;}

/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar{width:8px;height:8px;border:3px solid #fff;}
::-webkit-scrollbar-track{background:#efefef;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb{height:50px;width:50px;background:rgba(0,0,0,.2);-webkit-border-radius:8px;border-radius:8px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.1)}


/* ==========================================================================
   Layout
   ========================================================================== */
/* 2015-12-24 수정 */

#wrap{min-width:320px;}
	.inner{position:relative;width:1200px;margin:0 auto;}
#header{position:fixed;left:0;top:0;width:100%;z-index:15;background:#fed018;}	
#header:before{content:'';display:block;position:absolute;left:0;top:0;width:50%;height:100%;background:#c70202;}
#header:after{content:'';display:block;position:absolute;right:0;top:0;width:50%;height:100%;background:#202020;}
#header > div{position:relative;height:100px;background:url(../images/common/bg_header.jpg) no-repeat center top;z-index:1;}
	#logo{position:absolute;left:0;top:33px;}
	#logo a{display:block;width:176px;height:37px;background:url(../images/common/bg_haeder_link.png) no-repeat;text-indent:-999em;}
	.btn_gnb{display:none;position:absolute;top:22px;left:22px;z-index:18;}
	#gnb{margin-left:26.25%;width:46.66%;}
		#gnb > ul{padding:17px 0;}
		#gnb > ul > li{float:left;width:25%;}
		#gnb > ul > li > a{display:block;text-align:center;}
		#gnb > ul > li > a span{position:relative;display:inline-block;height:66px;background:url(../images/common/bg_haeder_link.png) no-repeat;text-indent:-999em;}
		#gnb > ul > li > a i{content:'';display:none;position:absolute;left:0;width:100%;top:0;height:100%;background:url(../images/common/bg_haeder_link.png) no-repeat;}
		#gnb > ul > li > a:hover i,
		#gnb > ul > li > a:focus i,
		#gnb > ul > li.active > a i{display:block;}
		#gnb > ul > li.g_menu > a span{width:42px;background-position:0 -73px;}
		#gnb > ul > li.g_menu > a i{background-position:0 -144px;}
		#gnb > ul > li.g_store > a span{width:47px;background-position:-47px -73px;}
		#gnb > ul > li.g_store > a i{background-position:-47px -144px;}
		#gnb > ul > li.g_coupon > a span{width:96px;background-position:-99px -73px;}
		#gnb > ul > li.g_coupon > a i{background-position:-99px -144px;}
		#gnb > ul > li.g_event > a span{width:46px;background-position:-200px -73px;}
		#gnb > ul > li.g_event > a i{background-position:-200px -144px;}
		#gnb > ul > li > ul{display:none;}
		
	.head_member{position:absolute;width:10.83%;min-width:80px;top:0px;right:0px;z-index:18;}
	.head_member > a{display:block;padding:16px 0;text-align:center;}
	.head_member.on > a{background:#c70202;}
	.head_member > a > span{display:inline-block;width:70px;height:68px;background:url(../images/common/bg_haeder_link.png) no-repeat -181px 0;}
	.head_member ul{display:none;position:absolute;top:100px;right:0;width:330px;background:#c70202;}
	.head_member.on ul{display:block;}
	.head_member ul li{float:left;width:50%;}
	.head_member ul li a{display:block;padding:22px 0;text-align:center;color:#fff;font-weight:bold;font-size:24px;}
	.head_cart{position:absolute;right:12.5%;top:20px;}
	.head_cart li{margin-bottom:12px;}
	.head_cart li span{display:inline-block;width:35px;height:17px;background:url(../images/common/bg_haeder_link.png) no-repeat;overflow:hidden;text-indent:-999em;font-size:0;vertical-align:middle;}
	.head_cart li i{display:inline-block;width:23px;line-height:23px;margin-left:4px;font-size:18px;text-align:center;color:#c70202;background:#fff;border-radius:100%;vertical-align:middle;font-style:normal;font-weight:bold;letter-spacing:-1px}
	.head_cart .h_cart span{background-position:0 -42px;}
	.head_cart .h_coupon span{width:80px;background-position:-40px -42px;}
	.head_cart.m_cart{display:none;}
	.head_call{display:none;}
	
#container{padding-top:100px;width:1200px;margin:0 auto;background:#fff;}	
	.page_top{position:relative;padding:3.25em 0;margin-bottom:2em;background:url(../images/visual/bg_page_top.jpg) no-repeat center;background-size:cover;overflow:hidden;text-align:center;}
	.page_top .btn_prev{display:none;width:22px;height:22px;position:absolute;left:10px;top:50%;margin-top:-11px;background: #000;background:url(../images/common/btn_history_prev.png) no-repeat;background-size:100% auto;}
	.page_top .tit{font-size:3.125em;color:#fff;text-shadow:0 1px 3px #aaa;line-height:1.2;-webkit-animation-name:fadeInUp;animation-name:fadeInUp;-webkit-animation-duration:2s;animation-duration:2s;}
	.page_top .sub{font-size:1.5em;color:#9b1b1b;-webkit-animation-name:fadeInUp;animation-name:fadeInUp;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-delay:0.2s;animation-delay:0.2s;}
	.sub_menu{margin-bottom:1.375em;font-size:1.143em;}
	.sub_menu .swiper-wrapper{margin:0 auto;}
	.sub_menu li{float:left;min-width:158px;padding:0 1px;}
	.sub_menu li a{display:block;padding:1em 0.5em;text-align:center;background:#3c3c3c;color:#fff;font-weight:bold;}
	.sub_menu li.on a{background:#c80000;}

#contents{position:relative;padding-bottom:100px;}
	.cont_inner{width:910px;margin:0 auto;}
#footer{padding:2em 1.3em 1.3em;text-align:center;font-size:12px;color:#696969;line-height:1;}
	.foot_menu{margin-bottom:1em;}
	.foot_menu li{display:inline-block;padding:0.5em 0;}
	.foot_menu li a{display:inline-block;padding:0 1.3em;color:#3c3c3c;vertical-align:middle;border-left:1px solid #a0a0a0;font-weight:bold;}
	.foot_menu li:first-child a{border-left:0 none;}
	.foot_info{padding-bottom:0.5em;}
	.foot_info ul{margin-bottom:0.5em;}
	.foot_info li{display:inline-block;padding:0.3em 0;}
	.foot_info li > span{display:inline-block;padding:0 0.8em;vertical-align:middle;border-left:1px solid #696969;}
	.foot_info li:first-child > span{border-left:0 none;}

/* ==========================================================================
   component
   ========================================================================== */
/* skip_Navi */
#skipNavi{position:relative;}
	#skipNavi a{display:block;position:absolute;left:0;top:-30px;width:150px;text-align:center;color:#fff;background:#000;z-index:1000;}
	#skipNavi a:focus, #skipNavi a:hover{top:0px;}

/* toTop */
#toTop{display:none;position:fixed;right:10px;bottom:10px;width:60px;height:60px;font-size:0;text-indent:-1000px;text-align:center;color:#fff;background:url(../images/common/toTop.png) center center no-repeat #fede5d;opacity:0.7;filter:alpha(opacity=70);border-radius:100%;}
	#toTop:hover, #toTop:focus, #toTop.hover{opacity:1;filter:alpha(opacity=100);}

/* 제목요소 */
.cont_tit{font-size:1.286em;color:#222;margin:2em 0 .833em;}
.cont_tit:first-child{margin-top:0;}

/* 버튼 */
.button_wrap{position:relative;margin-top:50px;text-align:center;overflow:hidden}
.button{display:inline-block;padding:3px 20px;line-height:22px;border:1px solid #505050;color:#222;background:#fff;text-align:center;vertical-align:middle;font-weight:600;box-sizing:border-box;font-size:14px;}
	
	.button.h45{padding:10px 20px;font-size:16px;line-height:25px;}

	.button.btn_gray{background:#505050;color:#fff;}
	.button.btn_red{background:#c80000;border-color:#c80000;color:#fff;}
	
	.button.w100{width:100px;padding-left:0;padding-right:0;}
	.button.w200{width:200px;padding-left:0;padding-right:0;}

.btn_sort{display:inline-block;border:1px solid #b4b4b4;vertical-align:middle;}
.btn_sort a{display:inline-block;padding:5px 20px;border-left:1px solid #b4b4b4;text-align:center;line-height:20px;font-size:0.875em;}
.btn_sort a:first-child{border-left:0 none;}
.btn_sort a.on{color:#fff;background:#c80000;}

.btn_wrap{position:relative;margin-top:25px;text-align:center}
.btn_wrap.fixed{padding:15px;margin:0;background:#fff;position:fixed;left:0;right:0;bottom:0;box-shadow:0 0 10px #ccc;}
.btn_wrap:after{content:'';display:block;clear:both;}
.btn_wrap>.button{float:left;width:100%;margin-left:2%;padding-left:0;padding-right:0;}
.btn_wrap>.button:first-child{margin-left:0;}
.btn_wrap.btn1>.button + .button{margin-top:10px;margin-left:0;}
.btn_wrap.btn2>.button{width:49%;}
.btn_wrap.btn3>.button{width:32%;}
.btn_wrap.btn4>.button{width:23.5%;}

.sel_list{position:relative;border:1px solid #c8c8c8;background:#fff;}
.sel_list a{display:block;padding:7px;font-size:14px;overflow:hidden;padding-right:41px;}
.sel_list > a{background:url(../images/common/bg_sel_list.gif) no-repeat right center;}
.sel_list a span{float:left;}
.sel_list a strong{float:right;}
.sel_list ul{display:none;position:absolute;left:-1px;right:-1px;border:1px solid #c8c8c8;border-top:0 none;top:100%;width:100%;background:#fafafa;}
.sel_list.on ul{display:block;}
.sel_list ul a:hover,
.sel_list ul a:focus{background:#eee;}
.sel_list ul .on a{font-weight:bold;color:#222;}
/* icon */
.ic_txt{display:inline-block;line-height:28px;border:1px solid #4c4c4c;text-align:center;color:#fff;padding:0px 5px;vertical-align:middle;background:#4c4c4c;font-size:0.875em;line-height:1.3;}
.ic_txt.ic_wht{color:#c80000;border-color:#c80000;background:#fff;}
.ic_txt.ic_red{background:#c80000;border-color:#c80000;}
.ic_txt.ic_green{background:#18a327;border-color:#18a327;}
.ic_call{padding-left:15px;background:url(../images/common/ic_call.gif) no-repeat left center;}

/* 탭메뉴 */
.tabmenu{margin-bottom:40px;text-align:center;}
.tabmenu > li{display:inline;}
.tabmenu > li > a{display:inline-block;width:158px;padding:1em 0;text-align:center;background:#3c3c3c;color:#fff;font-weight:bold;}
.tabmenu > li > a:hover,
.tabmenu > li > a:focus,
.tabmenu > li > a:active,
.tabmenu > li.on > a{color:#fff;background:#c80000;}
.tabmenu2{margin-bottom:20px;}
.tabmenu2 > li{float:left;width:50%;}
.tabmenu2 > li > a{position:relative;display:block;padding:0.5em 0;border-bottom:2px solid #c8c8c8;text-align:center;color:#696969;font-weight:bold;}
.tabmenu2 > li.on > a{color:#c80000;border-color:#c80000;}
.tabmenu2 > li.on > a:after{content:'';display:block;width:9px;height:4px;position:absolute;bottom:0;left:50%;margin-left:-5px;background:url(../images/common/bg_tabmenu2_on.png) no-repeat;}
.tab_cont{display:none}


/*테이블*/
.table_wrap{}
.table{border-top:1px solid #c8c8c8;table-layout:fixed;}
.table th, .table td{border-bottom:1px solid #c8c8c8;text-align:center;word-break:break-all;}
.table th{padding:15px 20px;color:#222;}
.table td{padding:10px 20px;}
.table thead th{border-top-color:#666;}
/* .table tfoot tr:first-child td{border-top:1px solid #ddd;} */
.table tfoot th,.table tfoot td{background:#f3f3f3;}
.table img{max-width:100%;}
.table .bg_gray th, .table .bg_gray td{background:#f0f0f0;}
.table.tbl_left td{border-left:1px solid #c8c8c8;text-align:left;}
.table.tbl_left .first{border-left:0 none;}
.table.tbl_hover tr:hover th,.table.tbl_hover tr:hover td{background:#fafafa;}
.table.tbl_form textarea{height:300px;}
.table .t_center{text-align:center;}
.table .t_left{text-align:left;}
.table .t_right{text-align:right;}
.table .bg{background:#f3f3f3;}
.table .bg strong{color:#222;}
.table2 th, .table2 td{border:1px solid #dddddd;border-right:0 none;padding:0.5em 0.3em;text-align:center;}
.table2 th{background:#f0f0f0;}
.table2 .odd td{background:#fafafa;}
.table2 th:first-child, .table2 td:first-child{border-left:0 none;}
.table table.in_table{border-bottom:1px solid #666;}
.table table.in_table th, 
.table table.in_table td{padding:5px;text-align:center;background:none;}
.in_table th{color:#000;}

.tbl_search{margin-bottom:5px;text-align:right;}
.tbl_search select{width:70px;}
.tbl_search input{width:150px;}

/* list_view */
.list_view{border-top:1px solid #e6e6e6;}
.list_view > li{padding:15px 20px;border-bottom:1px solid #e6e6e6;overflow:hidden;}
.list_view .tit h3{display:inline;color:#505050;vertical-align:middle;}
.list_view .tit .date{float:right;display:inline-block;}
.list_view .tit .num{display:inline-block;}
.list_view .tit .ic_txt{margin-right:5px;}
.list_view .cont{padding:30px 20px;min-height:200px;word-break:break-all;}
.list_view .cont img{max-width:100%}
.list_view .img{text-align:center;margin-bottom:2em;}
.list_view .link{border-top:1px solid #000000;}
.list_view .link a{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.list_view .link .ic_txt{margin-right:6px;}
.list_view + .list_navi{border-top:0 none;}
.list_navi{border-top:1px solid #e6e6e6;}
.list_navi li{padding:10px 20px;border-bottom:1px solid #e6e6e6;}
.list_navi li>a,.list_navi li>span{display:block;padding-left:36px;line-height:40px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.list_navi .prev>a, .list_navi .prev>span{background:url(../images/common/list_prev.png) no-repeat left center;}
.list_navi .next>a, .list_navi .next>span{background:url(../images/common/list_next.png) no-repeat left center;}

/*페이징*/
.list_paging{clear:both;margin-top:2.5em;text-align:center;}
.list_paging a{display:inline-block;}
.list_paging > img{opacity:0.4;filter:alpha(opacity=40);}
.list_paging a img{opacity:1;filter:alpha(opacity=100);}
.list_paging span{margin:0 10px}
.list_paging span a, .list_paging span strong{display:inline-block;width:25px;line-height:25px;vertical-align:middle;}
.list_paging span a:hover, 
.list_paging span a:focus, 
.list_paging span a:active,
.list_paging span strong{color:#c80000;font-weight:bold;}

/* faq */
.faq_list{border:1px solid #000;border-width:1px 0;}
.faq_list > dt{position:relative;padding:0 0 0 5.625em;border-top:1px solid #ccc;}
.faq_list > dt:before{content:'Q';display:block;position:absolute;left:1em;top:0.4em;font-weight:bold;font-size:2em;line-height:1;color:#000;}
	.faq_list > dt.no_list{padding:1.875em 1.5em;text-align:center;background:none;color:#999;}
.faq_list > dt:first-child{border-top:0 none;}
.faq_list > dt > a{display:block;padding:1.125em 1.5em 1.125em 0px;}
.faq_list > dt > a:hover,
.faq_list > dt > a:focus,
.faq_list > dt > a:active,
.faq_list > dt.on > a{font-weight:600;}
.faq_list > dt.on{background-color:#f7f7f7;}
.faq_list > dt.on > a{}
.faq_list > dd{display:none;position:relative;padding:1.125em 1.5em 1.125em 5.625em;border-top:1px solid #ccc;background:#f7f7f7;color:#333333;}
.faq_list > dd:before{content:'A';display:block;position:absolute;left:1em;top:0.4em;font-weight:bold;font-size:2em;line-height:1;color:#c80000;}


/*etc*/
.m_img{display:none;}
.img_area{text-align:center;overflow:hidden;}
.img_area img{max-width:100%;}

.txt_list li{padding-left:8px;margin-top:5px;background:url(../images/common/bullet_li.gif) no-repeat left 9px ;}
.txt_list li:first-child{margin-top:0;}
.indent_list li{padding-left:10px;text-indent:-10px}
.num_list{padding-left:1.5em;}
.num_list li{list-style-type:decimal;}
.dot_list li{position:relative;padding-left:13px;margin-bottom:5px;}
.dot_list li:after{content:'';width:2px;height:2px;position:absolute;left:0;top:10px;border-radius:100%;background:#666;}

.dot_list2  > li{padding-left:12px;margin-bottom:10px;background:url(../images/common/dot_li.gif) no-repeat left 10px;font-size:16px;}
.boxStyle{padding:15px 12px;border:1px solid #d0d2d8;}

.no_img{position:relative;background:#eee;text-align:center;}
.no_img img{max-width:100%;opacity:0;filter:alpha(opacity=0);}
.no_img span{display:inline-block;width:120px;height:18px;position:absolute;left:50%;top:50%;margin:-9px 0 0 -60px;background:url(../images/common/logo.png) no-repeat;-webkit-background-size:100% auto;background-size:100% auto;text-indent:-999em;font-size:0;color:transparent;opacity:0.5;filter:alpha(opacity=50);
	filter:url(filters.svg#gray);
	filter:gray;/* IE */
	-moz-filter:grayscale(1);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-webkit-filter:grayscale(1);}

/* ==========================================================================
   popup
   ========================================================================== */

.pop_bg{display:none;position:fixed;left:0;right:0;top:0;bottom:0;padding:80px 10px;overflow-x:hidden;overflow-y:auto;background:url(../images/common/bg_pop.png);z-index:500;}
.pop_wrap{display:none;position:relative;width:640px;margin:0 auto;background:#fff;border:1px solid #333;}
.pop_wrap h1{padding:13px 50px 13px 20px;font-size:1.125em;line-height:24px;color:#fff;background:#c80000;}
.pop_wrap .pop_cont{padding:30px 20px;}
.pop_wrap .btn_close{display:block;position:absolute;right:10px;top:10px;width:30px;height:30px;background:url(../images/common/pop_close.png) no-repeat center;text-indent:-9999em;}


/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width:1200px){
	/* layout */
	#logo{left:20px;}
	.inner{width:auto;}
	#container{width:auto;}
}
@media only screen and (max-width:1024px){
	/* layout */
	#header > div{height:90px;background-image:url(../images/common/bg_header_m.jpg);}
	#logo{position:static;width:62.5%;padding:26px 0;text-align:center;}
	#logo a{margin:0 auto;}
	.btn_gnb{display:block;}
	.btn_gnb a{position:relative;display:block;width:50px;height:46px;}
	.btn_gnb i:before,
	.btn_gnb i:after{content:'';transition-duration:0.3s, 0.2s;transition-delay:0.5s, 0s;}
	.btn_gnb i:before,
	.btn_gnb i:after,
	.btn_gnb i{position:absolute;display:block;left:0px;top:19px;width:100%;height:8px;background:#fff;border-radius:4px;}
	.btn_gnb i:before{top:-18px;transition-property:top, transform;}
	.btn_gnb i:after{top:auto;bottom:-18px;transition-property:bottom, transform;}
	.gnb_open{overflow:hidden;}
	.gnb_open .btn_gnb i{background:none;transition:background 0s 0.3s}
	.gnb_open .btn_gnb i:before{top:0px;transform:rotate(45deg);transition-delay:0s, 0.3s;}
	.gnb_open .btn_gnb i:after{bottom:0px;transform:rotate(-45deg);transition-delay:0s, 0.3s;}
	.gnb_wrap{position:fixed;left:0;right:0;top:-800px;max-height:100%;padding:20px;overflow:auto;box-sizing:border-box;background:url(../images/common/bg_gnb_m.gif) repeat center top;z-index:10;transition:top 0.5s ease;}
	.gnb_open .gnb_wrap{top:0;}
	.bg_gnb{position:fixed;left:0;right:0;top:0;height:0;background:#000;opacity:0.6;filter:alpha(opacity=60);}
	.gnb_open .bg_gnb{height:100%;}
	#gnb{margin-top:150px;margin-left:0;width:auto;}
		#gnb > ul{position:relative;padding:66px 0 0;}
		#gnb > ul > li{float:none;width:auto;}
		#gnb > ul > li > a{position:absolute;top:0;width:25%;}
		#gnb > ul > li.g_menu > a{left:0;}
		#gnb > ul > li.g_store > a{left:25%;}
		#gnb > ul > li.g_coupon > a{left:50%;}
		#gnb > ul > li.g_event > a{left:75%;}
		#gnb > ul > li > ul{display:block;position:relative;background:#9a0000;margin-top:35px;}
		#gnb > ul > li > ul:before{content:'';display:block;position:absolute;top:-24px;left:12.5%;margin-left:-12px;border-bottom:24px solid #9a0000;border-left:12px solid transparent;border-right:12px solid transparent;}
		#gnb > ul > li > ul > li{float:left;width:33.33%;padding:20px 0;}
		#gnb > ul > li > ul > li > a{display:block;text-align:center;}
		#gnb > ul > li > ul > li > a > span{display:inline-block;width:131px;height:107px;background:url(../images/common/bg_haeder_link.png) no-repeat;}
		#gnb > ul > li > ul > li > a > strong{display:block;font-size:28px;color:#f4c173;font-weight:800;line-height:1.2;}
		#gnb .g_menu_sub1 span{background-position:0 -251px;}
		#gnb .g_menu_sub2 span{background-position:-131px -251px;}
		#gnb .g_menu_sub3 span{background-position:-262px -251px;}
		#gnb .g_menu_sub4 span{background-position:0 -363px;}
		#gnb .g_menu_sub5 span{background-position:-131px -363px;}
		#gnb .g_menu_sub6 span{background-position:-262px -363px;}
	
	.head_cart{top:63px;right:170px;}
	.head_cart li{float:left;margin-left:30px;}
	.head_cart li span{width:65px;height:31px;}
	.head_cart .h_cart span{background-position:0 -220px;}
	.head_cart .h_coupon span{width:152px;background-position:-70px -220px;}
	.head_cart li i{width:38px;line-height:38px;font-size:28px;color:#fff;background:#650000;}
	.head_member{width:160px;}
	.head_member > a{padding:13px 0;}
	.head_member.on > a{background:none;}
	.head_member > a > span{width:113px;height:86px;background-position:-260px -112px;}
	.head_member.on > ul{display:none;}
	.head_call{display:block;overflow:hidden;margin-top:30px;}
	.head_call > p{float:left;width:35%;padding-left:5%;color:#fff;font-weight:800;font-size:26px;line-height:1.1;}
	.head_call > div{margin-left:40%;text-align:center;}
	.head_call > div a{display:inline-block;width:338px;height:54px;background:url(../images/common/bg_haeder_link.png) no-repeat 0 -476px;text-indent:-999em;font-size:0;vertical-align:top;}

	.head_cart.m_cart{display:block;top:0;right:0;width:29%;}
	.head_cart.m_cart li{float:left;width:50%;margin:0;}
	.head_cart.m_cart li a{position:relative;display:block;padding:17px 0;text-align:center;}
	.head_cart.m_cart li span{width:57px;height:56px;}
	.head_cart.m_cart .h_cart span{background-position:-260px 0;}
	.head_cart.m_cart .h_coupon span{width:57px;background-position:-260px -56px;}
	.head_cart.m_cart li i{position:absolute;left:50%;top:9px;width:38px;line-height:38px;font-size:28px;margin-left:0;background:#fff;color:#c70202;}

	#container{padding-top:90px;}
	.cont_inner{width:auto;padding:0 20px;}
	
	.tabmenu > li{display:block;float:left;width:50%;padding:0 1px;box-sizing:border-box;}
	.tabmenu.tab3 > li{width:33.33%;}
	.tabmenu.tab4 > li{width:25%;}
	.tabmenu.tab5 > li{width:20%;}
	.tabmenu.tab6 > li{width:16.66%;}
	.tabmenu > li > a{display:block;width:auto;}
}
@media only screen and (max-width:760px){
	/* layout */
	body{font-size:12px;}
	#header > div{height:45px;background-size:auto 45px;}
	#logo{padding:16px 0;}
	#logo a{width:98px;height:12px;background:url(../images/common/logo_m.png) no-repeat;-webkit-background-size:auto 12px;background-size:auto 12px;}
	.btn_gnb{left:11px;top:11px;}
	.btn_gnb a{width:25px;height:23px;}
	.btn_gnb i{top:10px;height:4px;}
	.btn_gnb i:before{top:-8px;height:4px;}
	.btn_gnb i:after{bottom:-8px;height:4px;}
	.gnb_wrap{padding:10px;background-size:auto 50px;}
	#gnb{margin-top:75px;}
		#gnb > ul{padding:33px 0 0;}
		#gnb > ul > li > a span,#gnb > ul > li > a i{height:33px;background-size:200px auto;}
		#gnb > ul > li.g_menu > a span{width:21px;background-position:0 -36px;}
		#gnb > ul > li.g_menu > a i{background-position:0 -72px;}
		#gnb > ul > li.g_store > a span{width:24px;background-position:-24px -36px;}
		#gnb > ul > li.g_store > a i{background-position:-24px -72px;}
		#gnb > ul > li.g_coupon > a span{width:48px;background-position:-50px -36px;}
		#gnb > ul > li.g_coupon > a i{background-position:-50px -72px;}
		#gnb > ul > li.g_event > a span{width:23px;background-position:-100px -36px;}
		#gnb > ul > li.g_event > a i{background-position:-100px -72px;}
		#gnb > ul > li > ul{display:block;position:relative;background:#9a0000;margin-top:18px;}
		#gnb > ul > li > ul:before{top:-12px;margin-left:-6px;border-bottom:12px solid #9a0000;border-left:6px solid transparent;border-right:6px solid transparent;}
		#gnb > ul > li > ul > li{padding:10px 0;}
		#gnb > ul > li > ul > li > a > span{width:66px;height:54px;background-size:200px auto}
		#gnb > ul > li > ul > li > a > strong{font-size:14px;}
		#gnb .g_menu_sub1 span{background-position:0 -126px;}
		#gnb .g_menu_sub2 span{background-position:-65px -126px;}
		#gnb .g_menu_sub3 span{background-position:-131px -126px;}
		#gnb .g_menu_sub4 span{background-position:0 -182px;}
		#gnb .g_menu_sub5 span{background-position:-65px -182px;}
		#gnb .g_menu_sub6 span{background-position:-131px -182px;}
	
	.head_cart{top:31px;right:85px;}
	.head_cart li{margin-left:15px;}
	.head_cart li span{width:33px;height:16px;background-size:200px auto;}
	.head_cart .h_cart span{background-position:0 -110px;}
	.head_cart .h_coupon span{width:76px;background-position:-35px -110px;}
	.head_cart li i{width:19px;line-height:19px;font-size:14px;}
	.head_member{width:80px;}
	.head_member > a{padding:6px 0;}
	.head_member > a > span{width:57px;height:43px;background-size:200px auto;background-position:-130px -56px;}
	.head_call{margin-top:15px;}
	.head_call > p{font-size:13px;}
	.head_call > div a{width:169px;height:27px;background-size:200px auto;background-position:0 -238px;}

	.head_cart.m_cart{width:25%;right:5%;}
	.head_cart.m_cart li a{display:block;padding:8px 0;}
	.head_cart.m_cart li span{width:29px;height:28px;}
	.head_cart.m_cart .h_cart span{background-position:-130px 0;}
	.head_cart.m_cart .h_coupon span{width:29px;background-position:-130px -28px;}
	.head_cart.m_cart li i{top:4px;width:19px;line-height:19px;font-size:14px;}

	#container{padding-top:45px;}
	#contents{padding-bottom:50px;min-height:250px;}
	.cont_inner{padding:0 10px;}
	.page_top{padding:16px 0;}
	.page_top .tit{font-size:25px;}
	.page_top .sub{font-size:12px;}
	.sub_menu li{min-width:99px;padding-left:0;}
	#footer{font-size:10px;}

	/* component */
	.m_none, .w_img{display:none;}
	.w_none{display:block;}
	.m_img{display:inline;}
	
	input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{height:25px;line-height:23px;padding:0 10px;}
	input[type="file"]{padding:0px;line-height:17px;}
	select{height:25px;line-height:23px;padding:0 5px;}
	textarea{padding:10px;min-height:50px;}
	.input_file{padding-right:72px;}
	span.input_file > input{width:170px;}
	.ui-datepicker-trigger{width:25px;height:25px;background-size:23px 23px;}
	
	.checkbox input, .radio input{width:25px;height:25px;}
	.checkbox input+.lbl, .radio input+.lbl{line-height:15px;min-height:15px;padding:5px 0 5px 30px;}
	.checkbox.only input+.lbl, .radio.only input+.lbl{padding-left:25px;}
	.checkbox input+.lbl:before, .radio input+.lbl:before{width:25px;height:25px;}
	.checkbox input+.lbl:after{width:10px;height:6px;top:6px;left:6px;border-width:3px;}
	.radio input+.lbl:after{width:11px;height:11px;top:7px;left:7px;}
	.lbl_area:after{content:'';display:block;clear:both;}
	.lbl_area > label{float:left;width:50%;margin:0.3em 0;}
	
	.inp_spinner{padding:0 35px;}
	.inp_spinner input{width:30px;text-align:center;line-height:30px;height:30px;padding:0;}
	.inp_spinner .btn{width:28px;height:28px;border-width:1px;background-size:12px auto !important;}
	
	#toTop{width:40px;height:40px;background-size:20px auto;}
	.button{padding:3px 10px;line-height:17px;max-width:100%;font-size:12px;}	
	.button_wrap{margin-top:25px;}.button_wrap:after{content:'';display:block;clear:both;}
	.button_wrap.btn2 .button{float:left;width:49%;}
	.button_wrap.btn2 .button + .button{margin-left:2%;}
	.button.h45{padding:0px 10px;line-height:33px;font-size:14px;}
	.btn_sort a{padding:3px 10px;line-height:14px;}
	
	.sel_list a{padding:4px;font-size:11px;padding-right:20px;}
	.sel_list > a{background-size:auto 3px;}
	.ic_txt{line-height:18px;padding:0 3px;}
		
	.table{font-size:12px;}
	.table th{padding:10px 5px;}
	.table td{padding:10px 5px;}	
	.table.tbl_form, .table.tbl_form tr, .table.tbl_form th, .table.tbl_form td{display:block;}
	.table.tbl_left.tbl_form tr:first-child th, .table.tbl_left.tbl_form tr:first-child td{border-color:#ccc;}
	.table.tbl_left.tbl_form tr:first-child th:first-child{border-top-color:#666;}
	.table.tbl_form th{text-align:left;}
	.table.tbl_form th br{display:none;}
	.in_table, {display:table !important;}
	.in_table tr{display:table-row !important;}
	.in_table th, .in_table td{display:table-cell !important;}
	
	.list_navi li{padding:5px 10px;}
	.list_navi li>a,.list_navi li>span{padding-left:18px;line-height:30px;background-size:8px auto !important;}
	.list_view .tit{padding:9px 10px;}
	.list_view .tit .date{float:none;display:block;margin-top:0.5em;}
	.list_view .cont{padding:20px 10px;}
	.list_paging img{width:18px;}
	.list_paging span{margin:0;}
	.list_paging span a, .list_paging span strong{width:18px;line-height:18px;}
	
	.tabmenu{margin-bottom:20px;}	
	.tabmenu.m_tab{position:relative;padding-top:36px;margin-bottom:20px;border:1px solid #cccccc;}
	.tabmenu.m_tab > li{height:0;float:none;width:auto;overflow:hidden;transition:height .5s ease;}
	.tabmenu.m_tab > li.on{height:36px;position:absolute;left:0;top:0;width:100%;margin-top:0 !important;}
	.tabmenu.m_tab > li > a{margin-left:0;text-align:left;padding-left:10px;}
	.tabmenu.m_tab > li.on > a{background:#fff;color:#c80000;font-weight:bold;}
	.tabmenu.m_tab > li.on > a:after{content:'';display:block;width:8px;height:8px;position:absolute;right:13px;top:12px;border:2px solid #c80000;border-width:0 2px 2px 0;transform:rotate(45deg);transition:all .5s ease;}
	.tabmenu.tab_open > li{height:36px;margin-top:1px;}
	.tabmenu.tab_open > li.on > a:after{top:17px;transform:rotate(225deg);}
	
	.pop_bg{padding:20px 15px;}
	.pop_wrap{width:auto;}
	.pop_wrap h1{padding:10px 30px 10px 10px;line-height:20px;}
	.pop_wrap .pop_cont{padding:20px 10px;}
	.pop_wrap .btn_close{width:20px;height:20px;background-size:18px 18px;}	
	
	.no_img span{width:80px;height:12px;margin:-6px 0 0 -40px;}
	
}

@media only screen and (max-width:480px){
	/*.table{font-size:0.9em;}*/
}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print{
	#header, #lnb, #footer{display:none;}
}